In [1]:
import pandas as pd
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go

### Get List of Species Names

In [42]:
soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=spc_common' +\
        '&$group=spc_common' +\
        '&$order=spc_common').replace(' ', '%20')
species = pd.read_json(soql_url)

### Canot do this because then the Query doesn't work!  DUH!!!
### Have to leave the weird capitalization alone...  :-(
# species = list(species['spc_common'].str.title())

species = list(species['spc_common'])

species

['American beech',
 'American elm',
 'American hophornbeam',
 'American hornbeam',
 'American larch',
 'American linden',
 'Amur cork tree',
 'Amur maackia',
 'Amur maple',
 'arborvitae',
 'ash',
 'Atlantic white cedar',
 'Atlas cedar',
 'bald cypress',
 'bigtooth aspen',
 'black cherry',
 'blackgum',
 'black locust',
 'black maple',
 'black oak',
 'black pine',
 'black walnut',
 'blue spruce',
 'boxelder',
 'bur oak',
 'Callery pear',
 'catalpa',
 'cherry',
 'Chinese chestnut',
 'Chinese elm',
 'Chinese fringetree',
 'Chinese tree lilac',
 'cockspur hawthorn',
 'common hackberry',
 'Cornelian cherry',
 'crab apple',
 'crepe myrtle',
 'crimson king maple',
 'cucumber magnolia',
 'dawn redwood',
 'Douglas-fir',
 'eastern cottonwood',
 'eastern hemlock',
 'eastern redbud',
 'eastern redcedar',
 'empress tree',
 'English oak',
 'European alder',
 'European beech',
 'European hornbeam',
 'false cypress',
 'flowering dogwood',
 'ginkgo',
 'golden raintree',
 'green ash',
 'hardy rubber tree',
 'hawthorn',
 'hedge maple',
 'Himalayan cedar',
 'holly',
 'honeylocust',
 'horse chestnut',
 'Japanese hornbeam',
 'Japanese maple',
 'Japanese snowbell',
 'Japanese tree lilac',
 'Japanese zelkova',
 'katsura tree',
 'Kentucky coffeetree',
 'Kentucky yellowwood',
 'kousa dogwood',
 'littleleaf linden',
 'London planetree',
 'magnolia',
 'maple',
 'mimosa',
 'mulberry',
 'northern red oak',
 'Norway maple',
 'Norway spruce',
 'Ohio buckeye',
 'Oklahoma redbud',
 'Osage-orange',
 'pagoda dogwood',
 'paperbark maple',
 'paper birch',
 'Persian ironwood',
 'pignut hickory',
 'pine',
 'pin oak',
 'pitch pine',
 'pond cypress',
 'purple-leaf plum',
 'quaking aspen',
 'red horse chestnut',
 'red maple',
 'red pine',
 'river birch',
 'sassafras',
 'sawtooth oak',
 'scarlet oak',
 "'Schubert' chokecherry",
 "Schumard's oak",
 'Scots pine',
 'serviceberry',
 'Shantung maple',
 'shingle oak',
 'Siberian elm',
 'silver birch',
 'silver linden',
 'silver maple',
 'smoketree',
 'Sophora',
 'southern magnolia',
 'southern red oak',
 'spruce',
 'sugar maple',
 'swamp white oak',
 'sweetgum',
 'sycamore maple',
 'tartar maple',
 'tree of heaven',
 'trident maple',
 'tulip-poplar',
 'Turkish hazelnut',
 'two-winged silverbell',
 'Virginia pine',
 'weeping willow',
 'white ash',
 'white oak',
 'white pine',
 'willow oak',
 nan]

### Get List of Borough Names

In [3]:
soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=boroname' +\
        '&$group=boroname' +\
        '&$order=boroname').replace(' ', '%20')
boroughs = pd.read_json(soql_url)

boroughs = list(boroughs['boroname'].str.title())
boroughs

['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']

### Test SoQL Query Based on Selection

In [43]:
boro = 'Manhattan'
soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=spc_common,health,steward,count(tree_id)' +\
        '&$where=boroname=\''+boro+'\'' +\
        '&$group=spc_common,health,steward' +\
        '&$order=spc_common,steward,health').replace(' ', '%20')
boro_trees = pd.read_json(soql_url)

boro_trees

     count_tree_id health            spc_common  steward
0                3   Fair        American beech     1or2
1                7   Good        American beech     1or2
2                1   Fair        American beech     None
3                8   Good        American beech     None
4                3   Poor        American beech     None
5               85   Fair          American elm     1or2
6              380   Good          American elm     1or2
7               30   Poor          American elm     1or2
8               22   Fair          American elm     3or4
9               75   Good          American elm     3or4
10               5   Poor          American elm     3or4
11               3   Fair          American elm  4orMore
12              12   Good          American elm  4orMore
13             149   Fair          American elm     None
14             894   Good          American elm     None
15              43   Poor          American elm     None
16               4   Fair  American hophornbeam     1or2
17              32   Good  American hophornbeam     1or2
18               4   Poor  American hophornbeam     1or2
19               4   Fair  American hophornbeam     3or4
20               7   Good  American hophornbeam     3or4
21               1   Poor  American hophornbeam     3or4
22               4   Fair  American hophornbeam     None
23              25   Good  American hophornbeam     None
24               3   Poor  American hophornbeam     None
25               6   Fair     American hornbeam     1or2
26              30   Good     American hornbeam     1or2
27               2   Poor     American hornbeam     1or2
28               2   Fair     American hornbeam     3or4
29               7   Good     American hornbeam     3or4
..             ...    ...                   ...      ...
809              1   Good        weeping willow     3or4
810              3   Fair        weeping willow     None
811              1   Good        weeping willow     None
812              4   Fair             white ash     1or2
813             15   Good             white ash     1or2
814              2   Good             white ash     3or4
815              4   Fair             white ash     None
816             23   Good             white ash     None
817              2   Poor             white ash     None
818             20   Fair             white oak     1or2
819             46   Good             white oak     1or2
820             11   Poor             white oak     1or2
821              5   Fair             white oak     3or4
822              8   Good             white oak     3or4
823              1   Poor             white oak     3or4
824             31   Fair             white oak     None
825            108   Good             white oak     None
826             11   Poor             white oak     None
827              1   Fair            white pine     1or2
828             47   Fair            willow oak     1or2
829            328   Good            willow oak     1or2
830             10   Poor            willow oak     1or2
831             14   Fair            willow oak     3or4
832            129   Good            willow oak     3or4
833              1   Poor            willow oak     3or4
834              4   Good            willow oak  4orMore
835             54   Fair            willow oak     None
836            286   Good            willow oak     None
837             16   Poor            willow oak     None
838           2995    NaN                   NaN      NaN

[839 rows x 4 columns]

### Test Data for Plotting

In [48]:
boro = 'Staten Island'
species = 'American beech'
soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,steward,count(tree_id)' +\
        '&$where=spc_common=\''+species+'\'' +\
        '&boroname=\''+boro+'\'' +\
        '&$group=spc_common,health,steward' +\
        '&$order=spc_common,steward,health').replace(' ', '%20')
soql_url

"https://data.cityofnewyork.us/resource/nwxe-4ae8.json?$select=health,steward,count(tree_id)&$where=spc_common='American%20beech'&boroname='Staten%20Island'&$group=spc_common,health,steward&$order=spc_common,steward,health"

In [49]:
trees = pd.read_json(soql_url)
trees

   count_tree_id health steward
0             17   Good    1or2
1              1   Poor    1or2
2              3   Good    3or4
3              1   Fair    None
4             26   Good    None
5              1   Poor    None

In [50]:
trees.loc[trees['steward'] == 'None', 'steward'] = '0-None'
trees

   count_tree_id health steward
0             17   Good    1or2
1              1   Poor    1or2
2              3   Good    3or4
3              1   Fair  0-None
4             26   Good  0-None
5              1   Poor  0-None

In [51]:
trees[['steward', 'health']] = trees[['steward', 'health']].astype('category')
steward_cats = list(trees['steward'].unique())
steward_cats.sort()
steward_cats

['0-None', '1or2', '3or4']

In [52]:
trees['steward'] = trees['steward'].cat.reorder_categories(steward_cats)
h_cats = ['Good', 'Fair', 'Poor']
health_cats = sorted(list(trees['health'].unique()), key=lambda x: h_cats.index(x))
trees['health'] = trees['health'].cat.reorder_categories(health_cats)
trees['health'] = trees['health'].cat.reorder_categories(['Good', 'Fair', 'Poor'])

In [53]:
proportions = trees.groupby(['steward', 'health']).agg({'count_tree_id': 'sum'})
proportions

                count_tree_id
steward health
0-None  Good               26
        Fair                1
        Poor                1
1or2    Good               17
        Poor                1
3or4    Good                3

In [54]:
#proportions = trees.groupby(['steward', 'health']).agg({'count_tree_id': 'sum'})
proportions = trees.set_index(['steward', 'health'])
proportions

                count_tree_id
steward health
1or2    Good               17
        Poor                1
3or4    Good                3
0-None  Fair                1
        Good               26
        Poor                1

In [38]:
proportions = proportions.groupby(level=0).apply(lambda g: g / g.sum())
proportions

                count_tree_id
steward health
1or2    Good         0.944444
        Poor         0.055556
3or4    Good         1.000000
0-None  Fair         0.035714
        Good         0.928571
        Poor         0.035714

In [39]:
props = trees.groupby(['steward', 'health']).agg({'count_tree_id': 'sum'}).groupby(level=0).apply(lambda g: g / g.sum()).reset_index()

In [40]:
props.health.cat.categories.tolist()

['Good', 'Fair', 'Poor']

In [41]:
'''
trace1 = go.Bar(
    x=df['NOC'],  # NOC stands for National Olympic Committee
    y=df['Gold'],
    name = 'Gold',
    marker=dict(color='#FFD700') # set the marker color to gold
)
trace2 = go.Bar(
    x=df['NOC'],
    y=df['Silver'],
    name='Silver',
    marker=dict(color='#9EA0A1') # set the marker color to silver
)
trace3 = go.Bar(
    x=df['NOC'],
    y=df['Bronze'],
    name='Bronze',
    marker=dict(color='#CD7F32') # set the marker color to bronze
)
data = [trace1, trace2, trace3]
'''

traces = []
colors = ['YellowGreen ', 'Gold', 'Tomato']
i=0
for h in props.health.cat.categories.tolist():
    props_by_health = props[props['health'] == h]
    traces.append(go.Bar(
        x=props_by_health['steward'],
        y=props_by_health['count_tree_id'],
        marker=dict(color=colors[i]),
        name=h
    ))
    i+=1

layout = go.Layout(
            title='Proportion of Healthy of Trees by Stewardship',
            barmode='stack',
            xaxis={
                'title': 'Steward Activity'
            },
            yaxis={
                'title': 'Proportion of healthy trees'
            }#,
            #margin={'l': 40, 'b': 40, 't': 10, 'r': 0}
)
fig = go.Figure(data=traces, layout=layout)
pyo.plot(fig, filename='bar3.html')

'file:///Users/betsyrosalen/GitHub/DATA_608_Knowledge_and_Visual_Analytics/module4/bar3.html'

In [139]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.8.final.0
python-bits: 64
OS: Darwin
OS-release: 18.5.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.24.1
pytest: 4.2.1
pip: 19.0.1
setuptools: 40.8.0
Cython: 0.29.5
numpy: 1.15.4
scipy: 1.2.1
pyarrow: None
xarray: 0.11.3
IPython: 7.2.0
sphinx: 1.8.4
patsy: None
dateutil: 2.7.5
pytz: 2018.9
blosc: None
bottleneck: None
tables: None
numexpr: None
feather: None
matplotlib: 3.0.2
openpyxl: 2.6.0
xlrd: 1.2.0
xlwt: 1.2.0
xlsxwriter: 1.1.2
lxml.etree: 4.3.1
bs4: 4.7.1
html5lib: 1.0.1
sqlalchemy: 1.2.18
pymysql: None
psycopg2: None
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None
gcsfs: None

In [46]:
boro = 'Manhattan'
species = 'European beech'
soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,steward,count(tree_id)' +\
        '&$where=spc_common=\''+species+'\'' +\
        '&boroname=\''+boro+'\'' +\
        '&$group=spc_common,health,steward' +\
        '&$order=spc_common,steward,health').replace(' ', '%20')
soql_url

"https://data.cityofnewyork.us/resource/nwxe-4ae8.json?$select=health,steward,count(tree_id)&$where=spc_common='European%20beech'&boroname='Manhattan'&$group=spc_common,health,steward&$order=spc_common,steward,health"

In [47]:
trees2 = pd.read_json(soql_url)
trees2

   count_tree_id health steward
0              3   Good    1or2
1              3   Good    None